{% extends "layout.html" %}

{% block title %}Natural Mystic Festival - Pregled uplatnice{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="section-title">Pregled uplatnice</h1>
    <div class="reggae-stripes mb-4" style="width: 150px;"></div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Datum</th>
                <th scope="col">Uplatilac</th>
                <th scope="col">Uplaćeno</th>
                <th scope="col">Za uplatitu</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for payment_item in payment_items %}
            <tr>
                <th scope="row">{{ payment_item.id }}</th>
                <td>{{ payment_item.payment.date.strftime('%d.%m.%Y') }}</td>
                <td>{{ payment_item.payment_slip.customer.name }}</td>
                <td>{{ payment_item.amount }}</td>
                <td>{{ payment_item.payment_slip.total_amount }}</td>
                <td>{{ payment_item.payment_slip.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}